/*TODO: ---------GLOBOL----------- */
/*TODO: ---------GLOBOL----------- */
html, body {
    height:100%;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight:400;
    color: rgba(47, 47, 47, 1);
}

html {  scroll-behavior: smooth;}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden; 
    display:flex;
    flex-direction: column;
}

.container__first {
    max-width:1600px;
    padding: 0 10px;
    height: 100%;
    box-sizing: content-box;
}

.__container {
    max-width: 1150px;
    margin: 0 auto;
}

.__btn {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 5px;
    background: rgba(245, 155, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    text-align: center;
    transition: all 0.3s;
    text-transform: capitalize;

    @media ( max-width: 768px ){ 
        padding: 5px 15px;
        font-size: 14px;
    }
    @media ( max-width: 480px ){
        font-size: 10px;
        padding: 0 15px;    
}
}


/*TODO: ------HEADER-------- */
.header {
    padding: 30px 0 5px 0;
    background: rgba(47, 47, 47, 1);

    @media ( max-width: 768px ){ 
        padding: 10px 0 5px 0;
    }
    @media ( max-width: 480px ){ 
        padding: 0 0 5px 0;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 0 60px 0 10px;

    @media ( max-width: 480px ){
        padding-right: 20px;    
}
}

.header__box {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__link {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    margin-right: 40px;
    transition: all 0.3s;

    @media ( max-width: 768px ){ 
        font-size: 14px;
        margin-right: 30px;
    }
    @media ( max-width: 480px ){
        font-size: 10px;
        margin-right: 20px; 
}
}

.menu__link:hover {
    color: rgb(245, 123, 123);
}

.look__btn {
    margin-left: 50px;

    @media ( max-width: 768px ){ 
        margin-left: 10px;
    }
}



.__btn:hover {
    background: rgb(136, 185, 250);
}

/*TODO: ------LOOK-------- */
.look {
    background: rgba(47, 47, 47, 1);
}

.look__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media ( max-width: 1200px ){ 
        flex-direction: column-reverse;
    }
}

.look__content {
    max-width: 455px;
    margin-top: 100px;
    margin-right: 10px;
    padding-left: 10px;
    
    @media ( max-width: 1200px ){ 
        margin-top: 0;
        margin-right: 0;
        margin: 0 auto;
    }
    @media ( max-width: 480px ){ 
        padding-left: 30px;
} 
}

.subtitle {
    color: rgba(245, 155, 0, 1);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media ( max-width: 480px ){ 
        font-size: 18px;
} 
}

.look__title {
    color: rgba(255, 255, 255, 1);;
    font-size: 55px;
    font-weight: 700;
    text-transform: capitalize;

    @media ( max-width: 480px ){ 
        font-size: 35px;
} 
}

.look__title-img {
    @media ( max-width: 480px ){ 
        width: 187px;
}  
}

.look__text {
    color: rgba(255, 255, 255, 1);
    opacity: 0.7;
    margin-top: -15px;

    @media ( max-width: 480px ){ 
        font-size: 12px;
        margin-bottom: 10px;
} 
}

.text {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.look__btn {
    margin-left: 0;

    @media ( max-width: 480px ){ 
        padding: 10px 20px;
} 
}

.look__img {
    max-width: 100%;
    margin-left: 70px;

    @media ( max-width: 480px ){ 
        width: 130px;
        margin-left: 15px;
} 
}

.look__imegs {
    position: relative;
}

.look__imegs-bag {
    position: absolute;
    top: 0;
    right: -80px;
    max-width: 100%;
    
    @media ( max-width: 1200px ){ 
        width: 100%;
        overflow: hidden;
        right: 0;
    }
}

.look__imegs-girl {
    position: relative;
    top: 55px;
    right: 20px;
    max-height: 714px;
    max-width: 100%;
    z-index: 10;

    @media ( max-width: 1200px ){ 
        width: 100%;
        overflow: hidden;
        top: 0;
    }
    @media ( max-width: 480px ){ 
        width: 300px;
        right: 10px;
} 
}

/*TODO: ------FEATURE-------- */
.feature {
    padding: 130px 0;

    @media ( max-width: 768px ){ 
        padding: 50px 0;
    }
    @media ( max-width: 480px ){
        padding: 20px 0;    
    }   
}

.feature__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media ( max-width: 768px ){ 
        flex-direction: column;
    }
}

.feature__item {
    @media ( max-width: 1150px ){ 
        flex: 0 1 50%;
    }
}

.feature__text {
    color: rgb(121, 114, 114);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 45px 40px 45px;

    @media ( max-width: 768px ){ 
        padding: 0 45px 10px 45px;
    }  
} 

.feature__text:hover {
    color: rgb(47, 47, 47, 1);
    border-bottom: 2.5px solid  rgba(245, 155, 0, 1);
}

.feature__img {
    margin: 55px 0 10px 0;
    width: 265px;
    height: 305px;
    
    @media ( max-width: 768px ){ 
        margin: 20px 0 10px 0;
    }
    @media ( max-width: 480px ){
        margin-top: 12px;   
    }     
}

.feature__img img {
    @media ( max-width: 768px ){
        width: 100%;
        max-width: 100%;   
    } 
}

/*TODO: ------ABOUT-------- */
.about {
    background: rgb(245, 241, 180);
}
.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1370px;
    

    @media ( max-width: 1200px ){ 
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.about__img {
    flex: 0 1 60.6%;
    position: relative;
    margin-right: 20px;

    @media ( max-width: 480px ){ 
        margin-right: 0;
} 
}

.about__bag {
    max-width: 100%;

    @media ( max-width: 1200px ){ 
        padding-bottom: 20%;
    }
}

.about__assort {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 830px;
    position: absolute;
    top:7%;
    right: -10%;
}

.about__assort-item1 {
    margin-right: -20%;
}

.about__assort-item2 {
    position: relative;
    z-index: 1;
}

.about__assort-item3 {
    margin-left: -20%;
    margin-right: 30px;
}

.about__1 {
    max-width: 100%;
    
}

.about__content {
    max-width: 460px;
}

.about__subtitle {
    @media ( max-width: 480px ){ 
        margin-bottom: 5px;
} 
}

.about__title {
    font-size: 31px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 24px;

    @media ( max-width: 480px ){ 
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 1.3;
} 
}

.about__btn {
    @media ( max-width: 480px ){ 
        padding: 10px 20px
} 
}


/*TODO: ------PRODUCT-------- */
.product {
    padding: 130px 0;

    @media ( max-width: 1200px ){ 
        padding: 30px 0;
    }
}

.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__info {
    max-width: 510px;
}

.product__title {    
    font-size: 31px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;

    @media ( max-width: 600px ){ 
        font-size: 25px;
        margin-bottom: 15px;
    }
}

.product__text {
    text-align: center;
    text-transform: capitalize;
    opacity: 0.9;
    margin-bottom: 60px;

    @media ( max-width: 600px ){ 
        margin-bottom: 15px;
    }
}

.product__img-items {
    display: flex;
    margin-bottom: 60px;
    gap: 30px;
    flex-wrap: wrap;

    @media ( max-width: 1200px ){ 
        gap: 15px;
    }
    @media ( max-width: 600px ){ 
        flex-direction: column;
        margin-bottom: 0;
    }
}

.product__img-item {
    width: 264px;
    height: 273px;
    box-sizing: border-box;
    border: 2px solid rgba(253, 238, 241, 1);
    border-radius: 10px;
    background: rgb(248, 238, 241);

    @media ( max-width: 1200px ){ 
        flex: 0 1 48%;
    }
}

.product__img-item1 {
    background: rgb(247, 242, 248);
}

.product__img-item2 {
    background: rgb(255, 232, 238);
}

.product__img-item3 {
    background: rgb(242, 245, 253);
}

.product__img-item4 {
    background: rgb(255, 240, 242);
}

.product__img-item5 {
    background: rgb(230, 237, 250);
}

.product__img-item6 {
    background: rgb(250, 255, 224);
}

.product__btn-box {
    margin-top: 86px;

    @media ( max-width: 1200px ){ 
        margin-top: 30px;;
    }
    @media ( max-width: 600px ){ 
        margin-bottom: 10px;
    }
}
.product__btn {
    color: rgba(245, 155, 0, 1);
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px 30px;
    border: 1px solid rgba(245, 155, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s;
}

.product__btn:hover {
    background-color: rgb(54, 48, 59);
}

.product__btn-arrow {
    margin-left: 10px;
    margin-top: 10px;
}

.product__btn-arrow1 {
    margin-top: 5px;
}


/*TODO: ------FORM-------- */
.form__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 4px rgba(232, 232, 232, 0.4);
    background: rgba(47, 47, 47, 0.95);
    margin-top: 30px;
    margin-bottom: 30px;

    @media ( max-width: 768px ){ 
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.form__img {
    flex: 0 1 42.6%;
    border-radius: 0px 10px 10px 0px;
}

.form__img1 {
    max-width: 100%;
    height: 550px;
    opacity: 0.4;

    @media ( max-width: 992px ){ 
        height: 380px;
    }
    @media ( max-width: 768px ){
        max-width: 100%;
        max-height: 100%;
    }
}

.form__first {
    margin: 0 auto;
}

.form__body {
    padding: 94px 10px;
    max-width: 515px;
    margin: 0 auto;

    @media ( max-width: 992px ){
        padding: 10px;
    }
}

.form__body-title {
    color: rgba(255, 255, 255, 1);
    font-size: 31px;
    font-weight: 700;
    text-transform: capitalize;
    max-width: 450px;
    margin-bottom: 44px;

    @media ( max-width: 480px ){
        font-size: 25px;
        margin-bottom: 10px;    
}
}

.form__input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @media ( max-width: 580px ){
        display: block;
    }
}

.form__input {
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(47, 47, 47, 0.15);
    padding: 13px 0 13px 20px;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    display: block;

    @media ( max-width: 580px ){ 
        margin-bottom: 20px;
        width: 100%;
    }

    @media ( max-width: 480px ){ 
    border-radius: 5px;
    padding: 7px 0 7px 10px;
    font-size: 12px;
}        
}

.form__input1 {
    margin-right: 20px;
}

.form__input2 {
    width: 100%;
}

.form__bottom {
    display: flex;
    align-items: center;
    margin-top: 30px;

    @media ( max-width: 480px ){
        margin-top: 0;
        justify-content: center;
}
}

.form__bottom-text {
    color: rgb(255, 255, 255, 0.3) ;
    text-align: center;

    @media ( max-width: 480px ){
        font-size: 10px;    
}
}

.form__bottom-span {
    border: 1px solid rgb(255, 255, 255, 0.1);
    width: 15px;
    height: 15px;
    margin-right: 12px;
}

.form__btn {
    margin-left: 50px;

    @media ( max-width: 480px ){
        margin-left: 10px;
        padding: 10px 15px;
        margin-left: auto;
}
}


/*TODO: ------BRAND------- */
.brand {
    padding: 130px 0;
    background: rgb(212, 219, 228);

    @media ( max-width: 1150px ){
        padding: 70px 0;
    }
    @media ( max-width: 992px ){
        padding: 50px 0;
    }
    @media ( max-width: 480px ){
        padding: 10px 0;    
}
}

.brand__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media ( max-width: 768px ){
        flex-wrap: wrap;
    }
}

.brand__logo  img {
    width: 100%;

    @media ( max-width: 1150px ){
        width: 200px;
        width: 100%;
    }
    @media ( max-width: 992px ){
        width: 170px;
        width: 100%;
    }
    @media ( max-width: 768px ){
        width: 100%;
    }
}

.brand__logo {
    flex: 0 1 50%;
    padding: 10px;

    @media ( max-width: 480px ){
        flex: 0 1 100%;  
}
}

.brand__logo:hover {
    background-color: aqua;
}


/*TODO: ------FOOTER------- */
.footer {
    padding: 100px 0;
    background: rgba(47, 47, 47, 0.92);

    @media ( max-width: 1150px ){
        padding: 70px 0;
    }
    @media ( max-width: 992px ){
        padding: 40px 0;
    }
    @media ( max-width: 480px ){
        padding: 20px 0;    
}
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media ( max-width: 620px ){
        justify-content: center;    
}
}

.footer__item1 {
    max-width: 245px;
    padding: 0 10px;
    margin-top: 15px;

    @media ( max-width: 1150px ){
        max-width: 190px;
    }
    @media ( max-width: 700px ){ 
        min-width:265px;
        width: 100%
    }
}

.footer__logo {
    display: block;
    margin-bottom: 12px;
}

.footer__item2 {
    max-width: 212px;
    padding: 0 10px;

    @media ( max-width: 700px ){ 
        min-width:265px;
        width: 100%;
        
    }
}

.footer__item3 {
    max-width: 245px;
    padding: 0 10px;

    @media ( max-width: 700px ){ 
        min-width:265px;
        width: 100%
    }
}

.footer__item4 {
    max-width: 265px;
    padding: 0 10px;

    @media ( max-width: 700px ){ 
        max-width:265px;
        width: 100%
    }
}

.footer__title {
    display: block;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: all 0.3s;

    @media ( max-width: 1150px ){
        font-size: 18px;
    }
    @media ( max-width: 620px ){
        margin-bottom: 10px;   
}
}

.footer__title:hover {
    color: rgb(245, 123, 123);
}

.footer__text {
    line-height: 2;
    color: rgba(255, 255, 255, 0.5);
    
    @media ( max-width: 1150px ){
        font-size: 14px;
    }
}

.footer__text1 {
    line-height: 1.5;
}

.footer__input {
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;
    padding: 12px 0 12px 20px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(47, 47, 47, 0.15);
    width: 100%;
}

.footer__btn {
    margin-top: 30px;
    padding: 10px 15px;
}


@media ( max-width: 992px ){
    
    }
@media ( max-width: 768px ){
    
    }
@media ( max-width: 480px ){

}


